.dest-btn {
  margin-top: 1em;
}
.dest-btn .fa {
  margin-right: .5em;
}

.time-lists {
  margin-top: 1em;
}

.time-list {
  background-color: #ebebeb;
  padding-left: 1em;
}
.time-list:nth-of-type(2n) {
  background-color: #d2d2d2;
}
.time-list .time {
  font-size: 3em;
}
